rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Users can only access their own files in the temp directory
    match /users/{userId}/temp/{fileName} {
      // Allow read and write if the user is authenticated and the userId matches
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Explicitly deny deletion of any file in the temp folder by the user
      allow delete: if false;
    }

    // Rules for the main user folder (if any other files are stored here)
    match /users/{userId}/{allPaths=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
